body {
    font-family: sans-serif;
}

.text-center {
    margin-top: 30px;
    margin-bottom: 30px;
}

.slogan {
    font-size: 200%;
    font-family: Sans-serif;
    text-align: center;
    margin-top: 30px;
    color: #65a765;
}

.recipe-search {
    position: relative;
    display: flex;
    align-items: stretch;
    margin-top: 30px;
}