{% extends "base.html" %} {% block title %}Register{% endblock %}

{% block content %} 
<form class="row g-3">
  <div class="col-md-3 offset-3">
    <label for="inputFirstName" class="form-label">First Name</label>
    <input type="text" class="form-control" aria-label="First name">
  </div>
  <div class="col-md-3">
    <label for="inputLastName" class="form-label">Last Name</label>  
    <input type="text" class="form-control" aria-label="Last name">
  </div>
  <div class="col-6 offset-3">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-6 offset-3">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-6 offset-3">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
{% endblock %}  
