{% extends "base.html" %} {% block title %}Register{% endblock %}

{% block content %} 
<form method="POST" class="row g-3">
  <h3 align="center">Register</h3>
  <div class="col-6 offset-3">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" aria-label="First name" id="firstName" name="firstName" placeholder="Enter first name">
  </div>
  <div class="col-6 offset-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="col-6 offset-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
    </div>
    <div class="col-6 offset-3">
      <label for="password2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
    </div>
    <div class="col-6 offset-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endblock %}  
